<div id="<%= dom_id loan %>">
  <p>
    <strong>Title:</strong>
    <%= loan.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= loan.description %>
  </p>

  <p>
    <strong>Loan Amount:</strong>
    <%= loan.loan_amount %>
  </p>

  <p>
    <strong>Interest Rate:</strong>
    <%= loan.interest_rate %>
  </p>

  <p>
    <strong>Loan Status:</strong>
    <%= loan.loan_status %>
  </p>
</div>

<div>
  <%= link_to "Edit the laon", edit_loan_path(loan) %>
</div>
<div>
  <%= link_to "Back to Home", root_path %>
</div>
<p>0-------------------------------------------0</p>
