<h1>Edit Loan</h1>

<%= form_with(model: @loan) do |form| %>
  <%= form.hidden_field :user_id, value: @loan.user_id %>

  <% if @loan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% @loan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, value: @loan.title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, value: @loan.description %>
  </div>

  <div>
    <%= form.label :loan_amount, style: "display: block" %>
    <%= form.text_field :loan_amount, value: @loan.loan_amount %>
  </div>

  <div>
    <%= form.label :interest_rate, style: "display: block" %>
    <%= form.text_field :interest_rate, value: @loan.interest_rate %>
  </div>
  
  <div>
    <%= form.label :current_loan_status, style: "display: block" %>
    <%= form.text_field :loan_status, value: @loan.loan_status %>
  </div>

  <div>
    <%= form.label :change_loan_status, style: "display: block" %>
    <%= form.select :loan_status, ["readjustment_requested", "open", "rejected"], selected: @loan.loan_status %>
  </div>

  <br>
  <div>
    <%= form.submit "Update Loan" %>
  </div>
  <br>
  <div>
    <%= link_to "Back to Home", root_path %>
  </div>
<% end %>
